# Getting data from Quandl

1. Import the libraries:

In [ ]:
pip install Quandl

In [1]:
import pandas as pd
import quandl

2. Authenticate  using the personal API key:

In [2]:
#QUANDL_KEY = '{key}' replace {key} with  your own API key
QUEANDL_KEY  = '6oGKxKQUWCBsryf3cVpQ'
quandl.ApiConfig.api_key = QUEANDL_KEY

3. Download the data:

In [3]:
df_quandl = quandl.get(dataset='WIKI/AAPL',
                       start_date='2000-01-01',
                       end_date='2010-12-31')

4. Inspect the data:

In [4]:
print(f'Downloaded {df_quandl.shape[0]} rows of data')
df_quandl.head()

Downloaded 2767 rows of data

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0